<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>

    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <!-- Header Start -->
    <%- include('partials/header.ejs')%>
    <!-- Header End -->


    <!--- breadcrumb Section Start ---->
    
    <div class="breadcrumb-section" style="background-image:url(images/16.jpg);">
        <nav aria-label="breadcrumb">
          <h3>About Us</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
    </div> 
    
    <!--- breadcrumb Section End -->

    <!--- About Section Start -->
      
    <!--- About Section End -->
      <div class="pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">

                  <% if(typeof error_msg!= 'undefined'){ %> 
                    <div class="alert alert-warning"><%= error_msg %> </div>
                  <% } %>

                    <div>
                        <h4 class="title-3"><%= data.atitle %> </h4>
                    </div>
                    <% var s = data.adescription  %> 
                    <%= s %>
                </div>
                <div class="col-lg-5">
                    <div class="about-featured-image">
                      <a href="#"><img src="<%= data.aimage  %> " alt="about-image"></a>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
    <!-- Footer Section --->
    <%- include('partials/footer.ejs')%>
    <!-- Footer Section --->


    <!-- Scripts -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
