<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Admin - Feedback</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		<!-- Datatables CSS -->
		<link rel="stylesheet" href="/assets/plugins/datatables/datatables.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!----- Box Icons CSS ------>
    	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <%- include('../partials/navbar.ejs')%>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <%- include('../partials/sidebar.ejs')%>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Query</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Feedback</a></li>
									<li class="breadcrumb-item active">Feedback List</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title float-left">Feedback List</h4>
								</div>
								<div class="card-body">

									<% if(typeof message!= 'undefined'){ %> 
			                          <div class="alert alert-warning"><%= message %> </div>
			                        <% } %>

									<div class="table-responsive">
										<table class="datatable table table-stripped">
											<thead>
												<tr role="row">
					                                <th>Name</th>
					                                <th>Email</th>
					                                <th>Feedback</th>
					                                <th>Rating</th>
					                            </tr>
											</thead>
											<tbody>

												<% if(feedback != ''){ %>
					                            <% feedback.forEach((row, index) => { %>
					                            <tr>
					                                <td><%= row.fname %></td>
					                                <td><%= row.femail %></td>
					                                <td><%= row.feedback %></td>
					                                <td><%= row.frate %></td>
					                            </tr>
					                            <% }) %>
					                            <% } else { %>
					                                <h1 class="text-center text-secondary mt-5">No Feedback Found!!!</h1>
					                            <% } %>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>			
			</div>
			<!-- /Main Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datatables JS -->
		<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/assets/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
    </body>

</html>