<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Admin - Category Update</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/plugins/summernote/dist/summernote-bs4.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
		
		<!----- Box Icons CSS ------>
    	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <%- include('../partials/navbar.ejs')%>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <%- include('../partials/sidebar.ejs')%>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Bussiness</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Category</a></li>
									<li class="breadcrumb-item active">Update Category</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Category Details</h4>
								</div>
								<div class="card-body">

									<% if(typeof error_msg!= 'undefined'){ %> 
				                      <div class="alert alert-warning"><%= error_msg %> </div>
				                    <% } %>

									<form action="/admin/category/update/<%= category._id %>" method="POST" enctype="multipart/form-data">
			                            <div class="form-group row">
			                                <label class="col-form-label col-md-2">Category Name</label>
			                                <div class="col-md-6">
			                                  <input type="text" class="form-control" name="category" value="<%= category.cname %>" required>
			                                </div>
			                            </div>

			                            <div class="form-group row">
			                                <label class="col-form-label col-md-2">Category Image</label>
			                                <div class="col-md-6">
												<div class="custom-file">
													<input type="file" class="custom-file-input" name="image">
													<label class="custom-file-label">Choose file...</label>
												</div>
			                                  <img src="/<%= category.cimage %>" alt="user-images" width="100px" height="100px" class="img-thumbnail mt-3">
			                                </div>
			                            </div>
			                            <input type="hidden" name="old_image" value="<%= category.cimage %>" />
			                            <div class="form-group row mb-4">
			                                <label class="col-lg-2 col-form-label">Status</label>
			                                <div class="col-lg-6">
			                                  <div class="form-check form-check-inline">
			                                    <input class="form-check-input" type="radio" name="status" value="Active" checked="">
			                                    <label class="form-check-label">Active</label>
			                                  </div>
			                                  <div class="form-check form-check-inline">
			                                    <input class="form-check-input" type="radio" name="status" value="Inactive">
			                                    <label class="form-check-label">Inactive</label>
			                                  </div>
			                                </div>
			                              </div>

			                            <div class="text-left" style="margin-left: 100px;">
			                                <button class="btn btn-primary">Update Category</button>
			                                <a class="btn btn-danger" href="/admin/category">Cancel</a>
			                            </div>
			                        </form>


								</div>
							</div>

						</div>
					</div>
				
				</div>			
			</div>
			<!-- /Main Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		
		<script src="/assets/plugins/summernote/dist/summernote-bs4.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
    </body>

</html>