<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Admin - Category</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		<!-- Datatables CSS -->
		<link rel="stylesheet" href="/assets/plugins/datatables/datatables.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!----- Box Icons CSS ------>
    	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <%- include('../partials/navbar.ejs')%>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <%- include('../partials/sidebar.ejs')%>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Business</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Category</a></li>
									<li class="breadcrumb-item active">Category List</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title float-left">Category List</h4>
									<a class="btn btn-primary float-right" href="/admin/category/add">Add Category</a>
								</div>
								<div class="card-body">

									<% if(message){ %>
			                          <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
			                              <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
			                              <strong><%= message.message %></strong>
			                          </div>
			                        <% } %>

			                        <% if(typeof error_msg!= 'undefined'){ %> 
			                        <div class="alert alert-warning"><%= error_msg %> </div>
			                        <% } %>

									<div class="table-responsive">

										<% if(categories != ''){ %>
										<table class="datatable table table-stripped">
											<thead>
												<tr role="row">
					                                <th>Category Name</th>
					                                <th>Status</th>
					                                <th>Category Image</th>
					                                <th>Action</th>
					                            </tr>
											</thead>
											<tbody>

												<% categories.forEach((row, index) => { %>
					                              <tr class="align-middle">
					                                <td><%= row.cname %></td>
					                                <td><%= row.cstatus %></td>
					                                <td><img src="../<%= row.cimage %>" alt="images" height="80px" width="80px" class="img-thumbnail"></td>
					                                <td>
					                                  <a href="/admin/category/edit/<%= row._id %>" class="px-2"><i class="fa fa-pencil-square-o fa-lg text-success" aria-hidden="true"></i></a>
					                                  <a href="/admin/category/delete/<%= row._id %>" class="px-2"><i class="fa fa-trash fa-lg text-danger" aria-hidden="true"></i></a>
					                                </td>
					                              </tr>
					                            <% }) %>

											</tbody>
										</table>
										<% } else { %>
				                            <h1 class="text-center text-secondary mt-5">No Category Found!!!</h1>
				                        <% } %>

									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>			
			</div>
			<!-- /Main Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datatables JS -->
		<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/assets/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
		
    </body>

</html>