<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Admin - Dashboard</title>
		
		    <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		    <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		    <!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">
		
		    <!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!----- Box Icons CSS ------>
    	  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


    </head>
    <body>
	
		    <!-- Main Wrapper -->
        <div class="main-wrapper">
		
        <!-- Header -->
          <%- include('partials/navbar.ejs')%>
        <!-- /Header -->
        
        <!-- Sidebar -->
          <%- include('partials/sidebar.ejs')%>
        <!-- /Sidebar -->
        
        <!-- Page Wrapper -->
        <div class="page-wrapper">
        
          <div class="content container-fluid">
            
            <!-- Page Header -->
            <div class="page-header">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="page-title">Welcome Admin!</h3>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="dash-widget-header">
                      <span class="dash-widget-icon bg-primary">
                        <i class='bx bx-user-circle' ></i>
                      </span>
                    </div>
                    <div class="dash-widget-info">
                      <h3><%= vdata %></h3>
                      <h6 class="text-muted">Total Customers</h6>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary w-50"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="dash-widget-header">
                      <span class="dash-widget-icon bg-success">
                        <i class='bx bxs-business' ></i>
                      </span>
                    </div>
                    <div class="dash-widget-info">
                      <h3><%= bdata %></h3>
                      <h6 class="text-muted">Total Business</h6>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success w-50"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="dash-widget-header">
                      <span class="dash-widget-icon bg-danger">
                        <i class='bx bx-category'></i>
                      </span>
                    </div>
                    <div class="dash-widget-info">
                      <h3><%= cdata %></h3>
                      <h6 class="text-muted">Total Category</h6>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger w-50"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="dash-widget-header">
                      <span class="dash-widget-icon bg-warning">
                        <i class='bx bx-message-rounded-dots'></i>
                      </span>
                    </div>
                    <div class="dash-widget-info">
                      <h3><%= qdata %></h3>
                      <h6 class="text-muted">Total Customer Query</h6>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning w-50"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>			
        </div>
        <!-- /Page Wrapper -->
		
        </div>
		    <!-- /Main Wrapper -->
		
		    <!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		    <!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		    <!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
        <script src="/assets/plugins/raphael/raphael.min.js"></script>    
        <script src="/assets/plugins/morris/morris.min.js"></script>  
        <script src="/assets/js/chart.morris.js"></script>
        
        <!-- Custom JS -->
        <script src="/assets/js/script.js"></script>
		
    </body>

</html>